.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #bd3e78;
  margin-bottom: 20px;
}
.item {
  padding: 10px;
  transition: all 0.3s;
  border-radius: 50px;
}
.item:active {
  background: rgba(255, 255, 255, 0.2);
}
.item > a {
  color: #fff;
  text-decoration: none;
}